<div class="row justify-content-center">
  <div class="card col-md-4">
    <article class="card-body">
<h4 class="card-title"> Sign In </h4>
<!-- <div class="chevron"><img class="chevron_image" src="assets/icons/macquarie-chevron.svg"></div> -->
<hr>
<div *ngIf="isLoginError" class="alert alert-danger" role="alert">
  <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>Incorrect username or password
</div>

<form #loginForm="ngForm" (ngSubmit)="OnSubmit(UserName.value,Password.value)">
  <div class="form-row">
    <div class="form-group col-md-2">
      <div class="form-control border-0">
            <img src="assets/icons/user-circle.svg">
      </div>
    </div>
    <div class="form-group col-md-10">
      <input type="text" class="form-control" #UserName ngModel name="UserName" placeholder="Username" required>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-2">
      <div class="form-control border-0">
            <img src="assets/icons/key.svg">
      </div>
    </div>
    <div class="form-group col-md-10">
      <input type="password" class="form-control" #Password ngModel name="Password" placeholder="Password" required>
    </div>
  </div>

  <div class="form-group">
    <button [disabled]="!loginForm.valid" type="submit" class="btn btn-primary btn-block"> Login </button>
  </div>
</form>
</article>
</div>
</div>
