.navbar-brand{
    padding-top: 1rem;
    padding-left: 0.5rem;
}
.navbar-brand-data{
    padding-top: 1.2rem;
    color:rgb(187, 187, 187);
}
img{
    height:64px;
    width: 100%;
    border:0;
    padding-left: 0.5rem;
    padding-right: 1rem;
}
a{
    height: 64px;
    width: 275px;
    align-content: left;
    padding: 0%
}
.navbar{
    padding: 0rem;
}