.navbar-brand{
    padding-top: 1rem;
    padding-left: 0.5rem;
}
.navbar-brand-data{
  color:rgb(187, 187, 187);
  margin-right: 0.5rem;
}
img{
    height:64px;
    width: 100%;
    border:0;
    padding-left: 0.5rem;
    padding-right: 1rem;
}
.logo_header{
    height: 64px;
    width: 275px;
    align-content: left;
    padding: 0%
}
.navbar{
    padding: 0rem;
}


.nav-link[data-toggle].collapsed:before {
    content: "▾";
}
.nav-link[data-toggle]:not(.collapsed):before {
    content: "▴";
}

.side-menu-right{
    position: absolute;
    left: 80%;
    z-index: 2;
    background-color: #fff;
}

.menu-submenu-div .col-2 {
    flex: 0 0 16.666667%;
    max-width: 20%;
}

li.nav-item a.nav-link{
    line-height: 25px;
}

.header-img{
  height: 1rem;
  text-align: center;
}

#sidebar {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 3px 10px 0 rgba(0, 0, 0, 0.10);
  border-radius:  .25rem;
}

a{
  font-family: lato;
  color: rgb(112, 112, 112);
}

a:hover{
  font-family: lato;
  color: black;
}
