<div class="row justify-content-center">
  <div class="card col-md-8">
    <article class="card-body">
      <h4 class="card-title">Preliminary Conflict Check</h4>
      <hr>
      <app-stepper-conflict-check (stepperValueChange)="changeSteppervalue($event)"></app-stepper-conflict-check>
      <hr>
       <app-party-search *ngIf="stepperValue==0"></app-party-search>
      <app-party-deal *ngIf="stepperValue==1"></app-party-deal>
      <app-conflict-summary *ngIf="stepperValue==2"></app-conflict-summary>
    </article>
  </div>
</div>
