/* You can add global styles to this file, and also import other style files */


body{
  background-color: #ECECEC ;
}

header{
  background-color:black;
  color: white;
  font-family: 'lato';
  font-size: 15px;
}
footer{
  background-color:#acecfc;
  padding-top: 1rem;
  position: relative;
  right: 0;
  bottom: 0;
  left: 0px;
  padding-bottom: 1px;
  margin-top: 3pt;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  min-height: 525px;
  margin-top: 3pt;
  margin-bottom:3pt;
}

@font-face {
    font-family: lato;
    src: url(assets/fonts/Helvetica-Neue-LT-Std/HelveticaNeueLTStd-Lt.otf) format("opentype");
}
